/* General styles */

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --greyish-blue: hsl(212, 23%, 69%);
  --lightish-grey-blue: hsl(210, 46%, 95%);
}

body {
  background-color: var(--lightish-grey-blue);
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-container { /* centers div container */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/*  REMINDER FOR MEDIA QUERIES

Mobile: 375px
Desktop: 1440px

*/


/* Master component container */

@media (min-width: 300px) { /* Mobile */

.container {
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 85%;
  width: 87%;
  display: flex;
  flex-direction: column;
  box-shadow: var(--greyish-blue) 0px 0px 3px;
}

  .container__image {
    background-image: url('images/drawers.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
    height: 180px;
  }

  .container__text-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

}

@media (min-width: 768px) { /* Tablet */

  .container {
    flex-direction: row;
    height: 250px;
    width: 75%;
  }
  
    .container__image {
      width: 450px;
      height: 100%;
      border-radius: 10px 0px 0px 10px;
    }

    .container__text-container {
      font: inherit;
    }
}

@media (min-width: 1024px) { /* Laptop */

  .container {
    width: 65%;
    height: 270px;
  }

    .container__image {
      width: 600px;
    }

}

@media (min-width: 1440px) { /* Wide laptop */
  
  .container {
    width: 60%;
  }

}


/* Text container */

.text-container__text {
  flex: 2;
  padding: 5% 9% 0% 9%;
}

  .text-container__text h1 {
    font-size: 0.95rem;
    color: var(--very-dark-grayish-blue);
  }

  .text-container__text p {
    color: var(--desaturated-dark-blue);
    font-size: 0.8rem;
    line-height: 1.5;
    margin: 0px;
  }

.text-container__profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 10px 10px;
  height: 75px;
  padding: 0% 7.5% 0% 7.5%;
}

@media (min-width: 768px) { /* tablet */

  .text-container__text h1 {
    font-size: 1.1rem;
  }

  .text-container__text p {
    font-size: 0.7rem;
  }

}

@media (min-width: 1024px) { /* laptop */

  .text-container__text h1 {
    font-size: 1.2rem;
  }

  .text-container__text p {
    font-size: 0.8rem;
  }

  .text-container__profile-container {
    padding-bottom: 10px;
  }

}


/* Profile container */

.profile-container__photo {
  flex-grow: 1;
}

  .avatar {
    border-radius: 100px;
    display: block;
    height: 3rem;
  }

@media (min-width: 768px){

  .profile-container__photo {
    flex-grow: 0.3;
  }

}

.profile-container__name-date {
  flex-grow: 3;
}

  .profile-container__name-date h2 {
    color: var(--very-dark-grayish-blue);
    font-size: 0.9rem;
    margin: 0;
  }

  .profile-container__name-date h3 {
    color: var(--greyish-blue);
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
  }

.profile-container__share-btn {
  flex-grow: 1;
  text-align: right;
}

.profile-container__share-btn button {
  border: none;
  border-radius: 100px;
  height: 35px;
  width: 35px;
  background-color: var(--lightish-grey-blue);
  outline: none;
}

.hidden {
  display: none;
}

/* Share section active */

.text-container__share-container {
  display: none;
  background-color: var(--very-dark-grayish-blue);
  padding: 0% 7.5% 0% 7.5%;
}

.visible {
  display: flex;
}

.share-container-share-icons {
  color: var(--greyish-blue);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1rem;
  flex-grow: 2;
}

.share-container-share-icons i {
  color: #FFFFFF;
  font-size: 1.2rem;

}

.share-container-share-btn {
  flex-grow: 1;
}

.share-container-share-btn button {
  background-color: var(--desaturated-dark-blue);
}

.share-container-share-btn svg {
  fill: #FFFFFF;
}

/* Popout share box */
/* Tablet and greater */

@media (min-width: 768px) {

  .profile-container__share-btn-popout {
    display: none;
    align-items: center;
    position: absolute;
    background-color: var(--very-dark-grayish-blue);
    border-radius: 10px;
    height: 40px;
    padding: 10px;
    box-shadow: var(--greyish-blue) 0px 0px 5px;
  }
  
  .visible-pop {
    display: flex;
  }

  .arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background: var(--very-dark-grayish-blue);
    transform: rotate(45deg);
  }


}


/* Attribution */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }